$primaryColor: #0caf60;
$primaryGrayColor: #f5f5f5;
$primaryGrayBorderColor: #e5e5e5;
$primaryWhiteColor: #ffffff;
$primaryErrorColor: #e33116;

:export {
  primary: $primaryColor;
  gray: $primaryGrayColor;
  grayBorder: $primaryGrayBorderColor;
  white: $primaryWhiteColor;
  error: $primaryErrorColor;
}
